{% extends "./M2A_app/base.html" %}

{% block content %}
    <div class="info">
        <div class="content">
            <h1>Cadastro de Diagnóstico</h1>
            <form>
                <div class="labels">
                    <label id="lb_consultor">Consultor Responsável:</label>
                    <label id="lb_empresa">Empresa:</label>
                </div>

                <div class="inputs">
                    <select id="select_consultor" name="consultor">
                        <option hidden value="">Selecione</option>
                    </select>

                    <select id="select_empresa" name="empresa">
                        <option value="" hidden>Selecione</option>
                    </select>
                </div>

                <div class="labels">
                    <label id="lb_fase_projeto">Fase do Projeto:</label>
                    <label id="lb_ano_projeto">Ano do Projeto:</label>
                </div>

                <div class="inputs">
                    <select id="select_fase_projeto" name="fase_projeto">
                        <option value="" hidden>Selecione</option>
                    </select>

                    <select id="select_ano_projeto" name="ano_projeto">
                        <option value="" hidden>Selecione</option>
                    </select>
                </div>

                <div class="labels">
                    <label id="lb_tipo">Tipo:</label>
                </div>

                <div class="inputs">
                    <select id="select_tipo" name="tipo">
                        <option value="" hidden>Selecione</option>
                    </select>
                </div>
            </form>
            <div id="buttons">
                <a href="#">
                    <button><b>Voltar</b></button>
                </a>
                <button><b>Salvar</b></button>
            </div>
        </div>
    </div>
{% endblock %}