<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'M2A_app/css/cadastro_diagnostico.css' %}">
        <link rel="shortcut icon" href="{%static 'M2A_app/img/favicon_m2a.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Cadastro de Diagnóstico</title>
    </head>

    <body>
        <div class="container">
            <header>

                <div class="header_top">
                    <img src="{% static 'M2A_app/img/m2a-logo.png' %}" id="logo" draggable = "false" unselectable="on">
                </div>

                <div class="header_middle">
                    <span id="logger">Olá admin<a href="#" style="margin-left: 20px;">Sair</a></span>
                </div>

                <nav class="header_bottom">
                    <ul class="nav_links">
                        <li><a href="/lista_diagnosticos">Diagnósticos</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_empresa">Empresas</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_grupo">Grupos</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_usuario">Usuários</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_respostas">Respostas Automáticas</a></li>
                        <span class="dividir"></span>
                        <li><a href="/dados_usuario">Dados</a></li>
                    </ul>
                </nav>

            </header>
            <div class="info">
                <div class="content">
                    <h1>Cadastro de Diagnóstico</h1>
                    <form>
                        <div class="labels">
                            <label id="lb_consultor">Consultor Responsável:</label>
                            <label id="lb_empresa">Empresa:</label>
                        </div>

                        <div class="inputs">
                            <select id="select_consultor" name="consultor">
                                <option hidden value="">Selecione</option>
                            </select>

                            <select id="select_empresa" name="empresa">
                                <option value="" hidden>Selecione</option>
                            </select>
                        </div>

                        <div class="labels">
                            <label id="lb_fase_projeto">Fase do Projeto:</label>
                            <label id="lb_ano_projeto">Ano do Projeto:</label>
                        </div>

                        <div class="inputs">
                            <select id="select_fase_projeto" name="fase_projeto">
                                <option value="" hidden>Selecione</option>
                            </select>

                            <select id="select_ano_projeto" name="ano_projeto">
                                <option value="" hidden>Selecione</option>
                            </select>
                        </div>

                        <div class="labels">
                            <label id="lb_tipo">Tipo:</label>
                        </div>

                        <div class="inputs">
                            <select id="select_tipo" name="tipo">
                                <option value="" hidden>Selecione</option>
                            </select>
                        </div>
                    </form>
                    <div id="buttons">
                        <a href="#"><button><b>Voltar</b></button></a>
                        <button><b>Salvar</b></button>
                    </div>
                </div>
            </div>
            <div id="rodape">
                <footer>M2A CONSULTORIA © TODOS OS DIREITOS RESERVADOS.</footer>
            </div>
        </div>
    </body>
</html>