<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'M2A_app/css/dados_usuario.css' %}">
        <link rel="shortcut icon" href="{%static 'M2A_app/img/favicon_m2a.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Dados do Usuário</title>
        <script src="{% static 'M2A_app/js/dist/inputmask.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <header>

                <div class="header_top">
                    <img src="{% static 'M2A_app/img/m2a-logo.png' %}" id="logo" draggable = "false" unselectable="on">
                </div>

                <div class="header_middle">
                    <span id="logger">Olá admin<a href="#" style="margin-left: 20px;">Sair</a></span>
                </div>

                <nav class="header_bottom">
                    <ul class="nav_links">
                        <li><a href="/lista_diagnosticos">Diagnósticos</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_empresa">Empresas</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_grupo">Grupos</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_usuario">Usuários</a></li>
                        <span class="dividir"></span>
                        <li><a href="/lista_respostas">Respostas Automáticas</a></li>
                        <span class="dividir"></span>
                        <li><a href="/dados_usuario">Dados</a></li>
                    </ul>
                </nav>

            </header>
            <div class="info">
                <div class="content">
                    <h1>Dados do Usuário</h1>
                    <form>
                        <div id="label_line_1">
                            <label id="lb_perfil">Perfil:</label>
                            <label id="lb_estado">Estado/UF:</label>
                            <label id="lb_situacao">Situação:</label>
                        </div>

                        <div id="input_1">
                            <select id="select_perfil" name="perfil">
                                <option hidden value="">Selecione</option>
                            </select>

                            <select id="select_estado" name="estado">
                                <option value="" hidden>Selecione</option>
                                <option value="AC">AC-Acre</option>
                                <option value="AL">AL-Alagoas</option>
                                <option value="AP">AP-Amapá</option>
                                <option value="AM">AM-Amazonas</option>
                                <option value="BA">BA-Bahia</option>
                                <option value="CE">CE-Ceará</option>
                                <option value="DF">DF-Distrito Federal</option>
                                <option value="ES">ES-Espírito Santo</option>
                                <option value="GO">GO-Goiás</option>
                                <option value="MA">MA-Maranhão</option>
                                <option value="MT">MT-Mato Grosso</option>
                                <option value="MS">MS-Mato Grosso do Sul</option>
                                <option value="MG">MG-Minas Gerais</option>
                                <option value="PA">PA-Pará</option>
                                <option value="PB">PB-Paraíba</option>
                                <option value="PR">PR-Paraná</option>
                                <option value="PE">PE-Pernambuco</option>
                                <option value="PI">PI-Piauí</option>
                                <option value="RJ">RJ-Rio de Janeiro</option>
                                <option value="RN">RN-Rio Grande do Norte</option>
                                <option value="RS">RS-Rio Grande do Sul</option>
                                <option value="RO">RO-Rondônia</option>
                                <option value="RR">RR-Roraima</option>
                                <option value="SC">SC-Santa Catarina</option>
                                <option value="SP">SP-São Paulo</option>
                                <option value="SE">SE-Sergipe</option>
                                <option value="TO">TO-Tocantins</option>
                                <option value="EX">Estrangeiro</option>
                            </select>

                            <select id="select_situacao" name="situacao">
                                <option hidden value="">Selecione</option>
                            </select>
                        </div>

                        <div id="label_line_2">
                            <label id="lb_nome_usuario">Nome do Usuário:</label>
                            <label id="lb_telefone">Telefone:</label>
                            <label id="lb_celular">Celular:</label>
                        </div>

                        <div id="input_2">
                            <input type="text" autocomplete="off">
                            <input type="tel" id="tel" autocomplete="off" placeholder="(__) ____-____">
                            <input type="tel" id="cel" autocomplete="off" placeholder="(__) _____-____">
                        </div>

                        <div id="label_line_3">
                            <label id="lb_email_usuario">E-mail do Usuário:</label>
                            <label id="lb_senha">Senha:</label>
                            <label id="lb_confirm_senha">Confirmação de senha:</label>
                        </div>

                        <div id="input_3">
                            <input type="email" autocomplete="off">
                            <input type="password" autocomplete="off">
                            <input type="password" autocomplete="off">
                        </div>
                    </form>
                    <div id="buttons">
                        <a href="#"><button><b>Voltar</b></button></a>
                        <button><b>Salvar</b></button>
                    </div>
                </div>
            </div>
            <div id="rodape">
                <footer>M2A CONSULTORIA © TODOS OS DIREITOS RESERVADOS.</footer>
            </div>
        </div>
        <script src="{% static 'M2A_app/js/main.js' %}"></script>
    </body>
</html>