<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'M2A_app/css/graficos.css' %}">
        <link rel="shortcut icon" href="{%static 'M2A_app/img/favicon_m2a.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Gráficos</title>
    </head>

    <body>
        <div class="container">
            <header>

                <div class="header_top">
                    <img src="{% static 'M2A_app/img/m2a-logo.png' %}" id="logo" draggable = "false">
                </div>

                <div class="header_middle">
                    <span id="logger">Olá admin<a href="#" style="margin-left: 20px;">Sair</a></span>
                </div>

                <nav class="header_bottom">
                    <ul class="nav_links">
                        <li><a href="#">Diagnósticos</a></li>
                        <span class="dividir"></span>
                        <li><a href="#">Empresas</a></li>
                        <span class="dividir"></span>
                        <li><a href="#">Grupos</a></li>
                        <span class="dividir"></span>
                        <li><a href="#">Usuários</a></li>
                        <span class="dividir"></span>
                        <li><a href="#">Respostas Automáticas</a></li>
                        <span class="dividir"></span>
                        <li><a href="#">Dados</a></li>
                    </ul>
                </nav>

            </header>
            <div class="info">
                <div class="content">
                    <h1>Relatório Individual de Gráficos</h1>
                    <h2>Dados</h2>
                    <div id="mesa">
                        <table>
                            <tr>
                                <th>Nome</th>
                                <td>Pão de queijo do Junin</td>
                            </tr>
                            <tr>
                                <th>CNPJ</th>
                                <td>99.999.999/9999-99</td>
                            </tr>
                            <tr>
                                <th>Cidade/UF</th>
                                <td>Brasília/DF</td>
                            </tr>
                            <tr>
                                <th>Nome do Responsável</th>
                                <td>Junior Santos Soares</td>
                            </tr>
                            <tr>
                                <th>Início</th>
                                <td>07/04/2021</td>
                            </tr>
                            <tr>
                                <th>Fim</th>
                                <td>07/04/2021</td>
                            </tr>
                        </table>
                    </div>
                    <h2>Gráficos</h2>
                    <div id="id_grafico">
                        <button id="op_1">um</button>
                        <button id="op_2">dois</button>
                        <button id="op_3">três</button>
                    </div>
                    <div class="grafico_barras">
                        <div class="colunas">
                            <div class="y">
                                <div class="divisao">100</div>
                                <div class="divisao">80</div>
                                <div class="divisao">60</div>
                                <div class="divisao">40</div>
                                <div class="divisao">20</div>
                                <div class="divisao">0</div>
                            </div>
                            <div class="grafico_area">
                                <div class="barras_area">
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 30%"></div>
                                        <div class="barra verde" style="height: 60%"></div>

                                    </div>
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 10%"></div>
                                        <div class="barra verde" style="height: 90%"></div>

                                    </div>
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 80%"></div>
                                        <div class="barra verde" style="height: 22%"></div>

                                    </div>
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 80%"></div>
                                        <div class="barra verde" style="height: 72%"></div>

                                    </div>
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 55%"></div>
                                        <div class="barra verde" style="height: 92%"></div>

                                    </div>
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 42%"></div>
                                        <div class="barra verde" style="height: 52%"></div>

                                    </div>
                                    <div class="divisao">

                                        <div class="barra vermelha" style="height: 59%"></div>
                                        <div class="barra verde" style="height: 33%"></div>

                                    </div>
                                </div>
                                <div class="x">
                                    <div class="divisao">Estratégias</div>
                                    <div class="divisao">Clientes</div>
                                    <div class="divisao">Processos</div>
                                    <div class="divisao">Pessoas</div>
                                    <div class="divisao">Liderança</div>
                                    <div class="divisao">Sociedade</div>
                                    <div class="divisao">Informação</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="explicacao">
                        <div class="explicacao_div">
                            <div class="ex um">
                               0% a 25%<br>
                            Utiliza sempre
                            </div>
                            <div class="ex dois">
                                25% a 50%<br>
                            Utiliza com regularidade
                            </div>
                            <div class="ex tres">
                                50% a 75%<br>
                            Utiliza pouco
                            </div>
                            <div class="ex quatro">
                                75% a 100%<br>
                            Não utiliza
                            </div>
                        </div>

                    </div>
                    <h2 style="text-align: center;">Análise de Risco da Gestão Financeira da Empresa</h2>
                    <div class="analise">
                        <div class="analisa_div">
                            <div class="divisoes verde">
                                Baixa
                            </div>
                            <div class="divisoes laranja">
                                Média
                            </div>
                            <div class="divisoes vermelho ">
                                Alta
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rodape">
                <footer>M2A CONSULTORIA © TODOS OS DIREITOS RESERVADOS.</footer>
            </div>
        </div>
    </body>
</html>