body{
    margin:0;
    padding:0;
    background: #ebebeb;
    background-image: linear-gradient(90deg, rgba(235, 235, 235),rgba(0, 73, 118), rgba(196,196, 196));
    font-family: "Comfortaa", "Arial", sans-serif;
}

body, html{
    height: 100%;
}

.container{
    position: relative;
    height: 900px;
    width: 100%;
}

body::-webkit-scrollbar{
     width: 7px;
     background-color: #C4C4C4;
}

body::-webkit-scrollbar-thumb {
    background-color: #004976;
    border-radius: 100px 100px 100px 100px;
}

#logo{
    padding: 40px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -10%);
}

.cadastro{
    width: 780px;
    height: 600px;
    border: 2px solid #C4C4C4;
    border-radius: 60px 60px 60px 60px;
    color: #fff;
    background-color: #C4C4C4;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 32px 28px;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.2);
}

h1{
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 0;
    color: #00497D;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
}

h2{
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
    color: #004976;
    font-size: 25px;
}

.cadastro label{
    color: #000;
}

#lb_email{
    width: 100%;
    text-align: left;
    margin-left: 29%;
}

#lb_nome{
    margin-right: 2%;
}

.cadastro input{
    padding: 3px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
    border-radius: 0px 0px 3px 10px;
    margin-bottom: 15px;
    text-indent: 3px;
    font-size: 16px;
}

#id_nome{
    width: 27%;
}

#id_email{
    width: 30%;
    margin-left: 205px;
}

#id_data{
    margin-left: 6.5%;
}

#lb_sexo{
    margin-left: 10%;
}

#lb_data{
    margin-left: 20%;
}

.separa1{
    margin-left: 70px;
}

.separa1_input{
    margin-left: 20px;
}

#select_sexo{
    margin-left: 15%;
}

#select_setor{
    width: 15%;
}

#lb_setor{
    margin-left: 10px;
}
#select_segmento{
    margin-left: 15px;
}

#select_arrecadacao{
    margin-left: 15px;
}

#select_tipo_empresa{
    margin-left: 16%;
}

#lb_numero_empregados{
    margin-left: 13%;
}

#lb_email_2{
    margin-left: 30px;
}

#id_numero_empregados{
    margin-left: 5%;
}

#id_email2{
    margin-left: 5%;
}

#id_telefone{
}

#lb_gestor_projeto{
    margin-left: 20%;
}

#lb_ano_inicio{
    margin-left: 13%;
}

#id_gestor_projeto{
    margin-left: 20px;
}

#id_ano_inicio{
    margin-left: 40px;
}

.cadastro select{
    width: 20%;
    background: #ebebeb;
    border: none;
    overflow: hidden;
    border-radius: 14px 14px 14px 14px;
    outline: none;
    color: black;
    padding: 5px;
    font-family: "Comfortaa", Arial, sans-serif;
    height: 30px;
    cursor: pointer;
}

.cadastro select[name="select_master"]:hover{
    background-color: #ebebeb;
    opacity: 0.8;
    transition: .2s;
}

select::-webkit-scrollbar{
     width: 7px;
     background-color: #C4C4C4;
}

select::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px 100px 100px 100px;
}

option{
    background-color: #C4C4C4;
}

footer{
    position: fixed
    color: white;
    background: #7C7C7C;
    font-size: 12.9px;
    text-align: center;
    width: 100%;
    bottom: 0;
    letter-spacing: 1px;
    padding-top: 7px;
    padding-bottom: 5px;
}