body{
    margin:0;
    padding:0;
    background: #ebebeb;
    background-image: linear-gradient(90deg, rgba(235, 235, 235),rgba(0, 73, 118), rgba(196,196, 196));
    font-family: "Comfortaa", "Arial", sans-serif;
}

#logo{
    padding: 40px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -10%);
}

.login{
    width: 480px;
    height: 480px;
    border: 2px solid #C4C4C4;
    border-radius: 60px 60px 60px 60px;
    color: #fff;
    background-color: #C4C4C4;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.2);
}

h1{
    margin:0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    color: #004976;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login p{
    font-size: 18px;
    color: black;
    text-align: center;
    height: 50px;
}

.login input[name="entrar"]{
    width: 30%;
    margin-bottom: 21px;
    margin-left: 150px;
}

.login input[name="usuario"], input[name="senha"]{
    width: 100%;
    margin-bottom: 21px;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px 0px 3px 10px;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
}

.login input[type="submit"]{
    border:none;
    outline:none;
    height: 35px;
    color: white;
    background: #004976;
    border-radius: 20px;
    font-size: 20px;
    transition: .5s;
    cursor: pointer;
}

.login input[type="submit"]:hover{
    background: #19394D;
}

.login a{
    font-weight: bold;
    color: #0075FF;
    transition: 1s;
}

.login a:hover{
    transition: 0.1s;
    color: #004CA5;
}

footer{
    color: white;
    background: #7C7C7C;
    font-size: 12.9px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
    padding-top: 7px;
    padding-bottom: 5px;
}